:root{
    --clr-lightblue: #c6c0ff;
    --clr-lightpink: #ff8df9;
    --clr-midpink: #ed73c8;
    --clr-darkdarkpink: #cf4da8;
    --clr-midblue: #b5baff;
    --clr-darkblue: #a6a1ff;
    --clr-darkdarkblue: #7d76ff;
    --clr-white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, var(--clr-lightblue) 20%, var(--clr-lightpink));
}
.primary-container, 
.nav-container{
    padding: 1rem;
    border: 2px solid black;
    width: 80%;
    max-width: 550px;
}
.primary-container{
    display: grid;
    background-color: var(--clr-midblue);
    grid-template-rows: 30% 70%;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
    max-height: 80vh;
    border-radius: 15px 15px 0 0;
}
/* Digital Clock */
.digital-clock{
    border: solid 1px rgb(108, 145, 255);
    border-radius: 15px;
    grid-area: 1 / 2;
    margin: 0 0 auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-width: 5rem;
    background-image: linear-gradient(45deg, var(--clr-lightblue) 20%, var(--clr-lightpink));
    cursor: pointer;
}
.digital-clock span{
    font-family: "Cascadia Code", sans-serif;
    font-size: 1rem;
}
.digital-clock:hover{
    border: solid 1px rgb(29, 86, 255);
}

/* Notes App */
.notes-list{
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: solid 2px var(--clr-darkdarkblue);
    margin-bottom: 1rem;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
}

.notes-list button{
    line-height: 1rem;
    min-height: 25%;
    margin-top: 10px;
    width: 90%;
    text-align: left;
    padding: .5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: solid 1px var(--clr-darkdarkblue);
    border-radius: 10px;
    background-color: var(--clr-midblue);
    font-family: "Cascadia Code", sans-serif;
}
.notes-list button:nth-last-child(1){
    margin-bottom: 10px;
}
.notes-list button:hover{
    cursor: pointer;
    background-color: #c6c0ff
}

.notes-container{
    font-size: 1rem;
    grid-area: 2 / 1 / 2 / 3;
    border: solid 2px var(--clr-darkdarkblue);
    border-radius: 10px;
    padding: 0.5rem;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.note-title{
    /*JS Reference: C*/
    font-size: 1.2rem;
    line-height: 1.3rem;
    min-height: 2rem;
    height: 15%;
    color: #000000;
    background-color: #ffffff;
    border: solid 1px var(--clr-darkdarkblue);
    border-radius: 10px;
    margin-bottom: 0.5rem;
    padding: .3rem;
    overflow-x: auto;
    white-space: nowrap;
    font-family: "Cascadia Code", sans-serif;
}

.note-input{
    min-height: 130px;
    height: 85%;
    max-width: 100%;
    color: #000000;
    background-color: #ffffff;
    padding: .3rem;
    border-radius: 10px;
    overflow-y: auto;
    margin-bottom: 1rem;
    line-height: 1.2rem;
    font-family: "Cascadia Code", sans-serif;
    font-weight: 600;
}
.notes-nav{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#create-note,
#delete-note,
#save-note{
    display: flex;
    font-size: 1rem;
    padding: .2rem;
    color: var(--clr-white);
    border: solid 2px var(--clr-darkdarkblue);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}
#create-note:hover, #save-note:hover, #delete-note:hover{
    background-color: #c6c0ff;
}
#create-note:hover{
    color: #000000;
}
#save-note:hover{
    color: #00b327;
}
#delete-note:hover{
    color: rgb(255, 70, 70);
}


/*Notes App Dialogs */
#clear-note, #save-input, #overwrite-input, #delete-save{
    height: 30%;
    width: 50%;
    max-width: 400px;
    min-height: 150px;
    border-color: var(--clr-darkdarkpink);
    border-radius: 10px;
    margin: auto;
    background-image: linear-gradient(45deg, var(--clr-lightblue) 20%, var(--clr-lightpink));
} 
.notes-container #add-title-dialog{
    height: 30%;
    width: 50%;
    max-width: 400px;
    min-height: 150px;
}
.modal-container{
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.modal-container p{
    font-size: 1rem;
    grid-area: 1 / 1 / 1 / 3;
}
#optYes{
    grid-area: 2 / 1 / 3 / 1;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}
#optNo{
    grid-area: 2 / 2 / 3 / 2 ;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}
#clear-note p, #save-input p, 
#delete-save p, #overwrite-input p, 
#optYes, #optNo{
    font-family: "Cascadia Code", sans-serif;
    text-align: center;
    margin: 0.8rem;
}

/* TO-DO LIST APP */

.todo-list-nav-container{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0 .5rem .25rem;
    justify-content: space-evenly;
    align-items: center;
    grid-area: 1 / 2 / 2 / 3;
}
.todo-list-nav-container button{
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 30%;
    min-height: 1.6rem;
    padding: .3rem 0 .3rem 0rem;
    font-family: 'Cascadia Code', sans-serif;
    cursor: pointer;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease-in-out;
}


.todo-list-nav-container .generate-check-tasks:hover{
    background-color: rgb(208, 255, 208);
    transform: translateY(-5px);
}
.todo-list-nav-container .generate-delete-tasks:hover{
    background-color: rgb(252, 177, 255);
    transform: translateY(-5px);
}

.todo-list-secondary-container{
    border: solid 2px var(--clr-darkdarkblue);
    border-radius: 6px;
    min-height: 50px;
    min-width: 90px;
    margin: .25rem .25rem .5rem .15rem;;
    padding: .5rem;
    overflow-y: auto;
    grid-area: 1 / 1 / 2 / 2;
    font-family: 'Cascadia Code', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #ff9cff #ccf7ff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.todo-list-secondary-container .task-title{
    font-family: 'Cascadia Code', sans-serif;
    font-size: 1.125rem;
    overflow-wrap: break-word;
    margin-bottom: .5rem;
    padding: .4rem .4rem 0 .4rem;
    min-height: 1.675rem;
    max-height: 2.6rem;
    overflow-y: auto;
}

.todo-list-secondary-container .task-info{
    font-family: 'Cascadia Code', sans-serif;
    padding: .2rem .4rem .4rem .4rem;
    font-size: 0.695rem;
    line-height: 1rem;
    overflow-wrap: break-word;
    min-height: 6.255rem;
}

.todo-list-secondary-container .task-title:hover,
.todo-list-secondary-container .task-info:hover{
    border: 1.5px solid var(--clr-darkdarkpink);
    background-color: #c6c0ff;
    border-radius: 5px;
}

.todo-list-secondary-container h2[contenteditable="true"]{
    padding-right: .89rem;
}

.todo-list-secondary-container h2:focus,
.todo-list-secondary-container p:focus{
    outline: none;
    border: 1.5px solid var(--clr-darkdarkpink);
    border-radius: 3px;
    background-color: #c6c0ff;
}

.todo-list-main-container{
    grid-area: 2 / 1 / 3 / 3;
    font-family: 'Cascadia Code', sans-serif;
}

.todo-list-main-container ul{
    height: 90%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ff9cff #ccf7ff;
}

.todo-list-main-container ul li{
    display: flex;
    align-items: center;
    list-style: none;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 1.125rem;
    padding: .4rem .1rem .4rem .1rem;
    margin-bottom: .5rem;
}

.todo-list-main-container .generate-task,
.todo-list-main-container ul li .display-task{
    display: flex;
    align-items: center;
    margin-right: auto;
    height: 100%;
    min-height: 40px;
    width: 92%;
    padding-left: .25rem;
    border: none;
    border-radius: 5px;
    font-size: 1.125rem;
    font-family: 'Cascadia Code', sans-serif;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.todo-list-main-container .generate-task{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: solid 2px rgba(58, 102, 168, 0.65);
    transition: transform 0.4s ease-in-out;
}

.todo-list-main-container #task-list li{
    transition: transform 0.2s ease-in;
}
.todo-list-main-container #task-list li:hover{
    transform: translateY(-5px);
}

.todo-list-main-container ul li:first-child{
    margin-top: .5rem;
}
.todo-list-main-container .generate-task:hover{
    color: var(--clr-darkdarkblue);
    background-color: var(--clr-lightpink);
    transform: translateY(-5px);
}
.todo-list-main-container ion-icon{
    margin-right: .5rem;
}

.todo-list-main-container ul li .check-task, 
.todo-list-main-container ul li .delete-task{
    display: flex;
    background-color: transparent;
    border: none;
    margin-right: .5rem;
    cursor: pointer;
    font-size: 1.125rem;
}

.todo-list-main-container ul li .check-task ion-icon{
    color: #afffa1;
}
.todo-list-main-container ul li .delete-task ion-icon{
    color: #ff7070;
}

.todo-list-main-container ul li .check-task ion-icon:hover{
    color: #55ff49;
}
.todo-list-main-container ul li .delete-task ion-icon:hover{
    color: #ff4848;
}

.task-completed {
    text-decoration: line-through;
    color: gray;
}

/* To-Do List Dialogs */

#create-task-dialog{
    height: clamp(13rem, 15rem, 17rem);
    width: 70%;
    max-width: 400px;
    border-color: var(--clr-darkdarkpink);
    border-radius: 10px;
    margin: auto;
    background-image: linear-gradient(45deg, var(--clr-lightblue) 20%, var(--clr-lightpink));
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

#create-task-dialog .modal-container{
    display: flex;
    flex-direction: column;
}
#create-task-dialog .modal-container .cancel-task-input{
    margin: 3px 3px 0 auto;
    color: var(--clr-darkdarkblue);
    font-size: 1.125rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#create-task-dialog .modal-container .cancel-task-input:hover{
    color: #a02fd4;
}

#create-task-dialog .modal-container .input-task-title{
    align-self: center;
    padding: .2rem;
    border: solid 2px var(--clr-darkdarkblue);
    border-radius: 3px;
    width: 90%;
    background-color: #e6e6e6;
    overflow-y: auto;
    overflow-wrap: break-word;
    line-height: 1.125rem;
    max-height: 2.6rem;
    min-height: 1.3rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
#create-task-dialog .modal-container .input-task-info{
    align-self: center;
    padding: .2rem;
    border: solid 2px var(--clr-darkdarkblue);
    border-radius: 3px;
    width: 90%;
    word-wrap: break-word;
    background-color: #e6e6e6;
    line-height: 1.125rem;
    overflow-y: auto;
    min-height: 2.6rem;
    max-height: 7.875rem;
    height: 7.875rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#create-task-dialog .modal-container .input-task-title p,
#create-task-dialog .modal-container .input-task-info p{
    font-family: 'Cascadia Code', sans-serif;
    font-size: 1rem;
}

#create-task-dialog .modal-container .input-task-info p[contenteditable="true"]{
    padding-right: .2rem;
    height: 100%;
    width: 100%;
}
#create-task-dialog .modal-container .input-task-title p:focus,
#create-task-dialog .modal-container .input-task-info p:focus{
    outline: none;
}
#create-task-dialog .modal-container .submit-task-input{
    border-radius: 3px;
    border: none;
    margin: auto 5% .75rem auto; 
    align-self: flex-end;
    width: 25%;
    height: 1.5rem;
    min-height: 1.5rem;
    color: var(--darkdarkpink);
    background-color: #d0ffd0;
    font-size: .695rem;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Cascadia Code', sans-serif;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
#create-task-dialog .modal-container .submit-task-input:hover{
    background-color: #b3ffb3;
}

#delete-task-dialog, 
#discard-changes-dialog,
#add-title-dialog{
    height: clamp(13rem, 15rem, 17rem);
    width: 70%;
    max-width: 400px;
    border-color: var(--clr-darkdarkpink);
    border-radius: 10px;
    margin: auto;
    background-image: linear-gradient(45deg, var(--clr-lightblue) 20%, var(--clr-lightpink));
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

#delete-task-dialog .modal-container,
#discard-changes-dialog .modal-container,
#add-title-dialog .modal-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#delete-task-dialog .modal-container p,
#discard-changes-dialog .modal-container p,
#add-title-dialog .modal-container p{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 1 / 2 / 3;
    font-family: 'Cascadia Code', sans-serif;
}

#delete-task-dialog .modal-container button,
#discard-changes-dialog .modal-container button,
#add-title-dialog .modal-container button{
    align-self: center;
    justify-self: center;
    width: 50%;
    min-height: 50%;
    min-width: 70%;
    font-family: 'Cascadia Code', sans-serif;
}

#delete-task-dialog .modal-container #optYes,
#discard-changes-dialog .modal-container #continue-task-creation{
    grid-area: 2 / 1 / 3 / 1;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

#delete-task-dialog .modal-container #optNo,
#discard-changes-dialog .modal-container #discard-task-creation{
    grid-area: 2 / 2 / 3 / 3;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

#add-title-dialog .modal-container #optContinue{
    grid-area: 2 / 1 / 3 / 3;
    margin-bottom: auto;
    margin-top: .5rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}



/* Nav Container */
.nav-container{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    min-height: 10vh;
    border-radius: 0 0 15px 15px;
    background-color: var(--clr-darkblue)
}
.nav-menu{
    border: solid 2px var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, var(--clr-lightblue) 20%, var(--clr-lightpink));
    border-radius: 15px;
    min-width: 8rem;
}
.nav-menu ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
}
.nav-menu ul li a{
    background-color: var(--clr-midblue);
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
}
.nav-menu ul li.active a{
    background-color: var(--clr-darkdarkblue);
}

.nav-menu ul li a .text{
    padding: .3rem;
    font-family: "Cascadia Code", sans-serif;
}
.nav-menu ul li.active a .text{
    color: var(--clr-white);
}
.nav-selection{
    min-height: 2rem;
    border: solid 2px var(--clr-white);
    font-family: "Cascadia Code", sans-serif;
    background-image: linear-gradient(45deg, var(--clr-lightblue) 20%, var(--clr-lightpink));
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .25rem;
}

.color-swap{
    --clr-lightblue: #ff8df9;
    --clr-lightpink: #c6c0ff;
    --clr-darkdarkblue: #cf4da8;
    --clr-darkdarkpink: #7d76ff;
}

/* MEDIA QUERIES */

@media (max-width: 420px){
    .note-title{
        min-height: 1rem;
        line-height: 1rem;
    }
    .modal-container p{
        font-size: .75rem;
    }
    #optYes, #optNo{
        max-width: 100%;
        max-height: 80%;
    }
    .nav-selection{
        font-size: .75rem;
    }
    .notes-container, #create-note, #save-note, #delete-note{
        font-size: .85rem;
    }
    #discard-changes-dialog .modal-container button,
    #add-title-dialog .modal-container button {
        font-size: .6rem;
    }
}

@media (max-height: 459px){
    /* dialog ids */
    #clear-note, #save-input, #overwrite-input{
        width: 50%;
        height: 40%;
    }
    .modal-container p{
        font-size: .75rem;
    }
    .note-title{
        min-height: 2rem;
        line-height: 1.3rem;
    }
    .note-input{
        min-height: 2.5rem;
        max-height: 2.8rem;

    }
    .notes-list{
        margin-bottom: .5rem;
        max-height: 4rem;
    }
    .notes-list button{
        line-height: 40%;
        min-height: 40%;
    }
    .notes-container{
        min-height: 8.5rem;
        max-height: 11.875rem;
    }
    .nav-menu{      
        font-size: .9rem;
    }
    .nav-container{
        padding: .3rem;
    }
    .nav-selection{
        font-size: .75rem;
    }
}
@media (min-height: 460px) and (max-height: 520px){
    .note-input{
        min-height: 6.7rem;
        max-height: 7rem;
    }
}
@media (max-width: 551px){
    .todo-list-nav-container button ion-icon{
        display: none;
    }
}
@media (max-width: 484px){
    .todo-list-nav-container button{
        font-size: 0.70rem;
        padding: .5rem;
    }
}
@media (max-height: 551px){
    .todo-list-nav-container{
        flex-direction: row;
    }
    .todo-list-nav-container button{
        width: 40%;
    }
    .todo-list-nav-container ion-icon{
        display: none;
    }
}
